.tasks {
  width: 50%;
  padding: 50px;
  height: calc(100vh - 80px);
}
.tasks__title {
  display: flex;
  gap: 10px;
  place-items: center;
}
.tasks__title__text {
  font-size: 18px;
  font-weight: 500;
}
.tasks__sort {
  margin-top: 25px;
}
.tasks__container {
  height: 80%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.tasks__container::-webkit-scrollbar {
  width: 10px;
}
.tasks__container::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(223, 223, 223);
  border-radius: 50px;
}
.nothing {
  font-weight: 300;
}
